PORT=4000
CLIENT_URL=https://barbeariadofoguinho.online
DATABASE_URL=postgresql://postgres:senha@scraper_foguinho-postgres:5432/scraper
JWT_SECRET=troque-por-uma-chave-bem-forte
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@foguinhobarber.com
ADMIN_PASSWORD=admin123
ADMIN_PHONE=(24) 99874-7229
